<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Email</th>
      <!-- その他のカラムに応じて<th>タグを追加 -->
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <!-- その他のカラムのデータを表示するための<td>タグを追加 -->
      </tr>
    <% end %>
  </tbody>
</table>