/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #error_explanation li {
  color: red;
}

body {
  position: relative;
}
.logout-container {
  position: relative; /* ボタンの位置を親要素内で絶対位置指定するための設定 */
}

.logout-button {
  position: absolute;
  right: 0; /* 右端に配置 */
  top: 50%; /* 親要素の中央に配置 */
  transform: translateY(-50%); /* 縦方向の中央揃えの微調整 */
  /* 必要に応じてマージンやパディングも追加 */
}

.error-message {
  text-align: center;
}
.button-container {
  text-align: center; /* テキストとボタンを中央揃え */
  margin-top: 10px; /* 上部の余白 */
  margin-bottom: 10px; /* 下部の余白 */
}
.or-text {
  margin-top: 10px; /* 上のボタンとの間隔 */
  margin-bottom: 10px; /* 下のボタンとの間隔 */
  text-align: center; /* 中央揃え */
}

